
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-black{
   color: rgba(0, 0, 0, 1);
}
.text-light-gray{
    color:rgba(128, 128, 128, 1);
}
.text-org{
    color: orange;
}
.text-sb{
    color: skyblue;
}
.text-paste{
    color: rgba(5, 212, 223, 1);
}
.text-prp{
    color: rgba(93, 88, 239, 1);
}
.bold{
    font-weight: 700;
}

.group{
width: 30px;
height: 30px;
margin-top: 10px;

}
.navbar{
    gap:10px;
    display: flex;
    justify-content: center;
align-items: center;
margin-left: 140px;

}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
 }
 .btn-primary{
    gap:30px;
    background-color:#FF900E ;
    color: white;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    margin-bottom: 0px;
    justify-content: right;
}
.banner-container{
    justify-content: center;
}
.banner-content{
width: 1158px;
height: 575px;
margin-left: 300px;}
.btn-secondary{
width: 197px;
height: 50px;
border: none;
border-radius: 12px;
color: white;
font-weight: 600;
background-color: black;

}
.kids{
    width: 468px;
    height: 575px;
    justify-content: end;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.story{
    /* stories */
    /* border: 4px solid blue; */
position: absolute;
width: 1440px;
height: 1018.02px;
left: 0;
top: 1554px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* gap: 80; */
padding: 60px 0px 60px 0px;
background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%),url(assets/bg.png);

}

.st{
    /* border: 5px solid rebeccapurple; */
    /* Group 38 */
position: static;
width: 1160px;
height: 630.52px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 80px 0px;
}
.story-heading{
    /* Heading 2 → Standard Curriculum */
position: static;
width: 460.61px;
height: 57.5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* gap: 30; */
padding: 60px 0px 60px 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
color:black;
text-align: center;
}

.card-4{
position: absolute;
width: 601px;
height: 622.4px;
left: 699px;
right: -140px;
top: 430.5px;
display: grid;
grid-template-columns: repeat(2,1fr);
margin-bottom: 0px;

}


.story-card1-container{
/* border: 4px solid black; */
/* Article */
position: relative;
width: 540.27px;
height: 630.52px;
border-radius: 16px;
background: rgb(255, 255, 255);
}
.img1{
    width: 540px;
    height: 337px;
}
.btn-1{
    color:white;
    background-color: skyblue;
    font-weight: 400;
   border: none;
position: absolute;
width: 174.51px;
height: 47.93px;
left: 38.35px;
top: 314.14px;
border-radius: 47.93px;
background: rgb(60, 216, 232);
}
.heading{
 color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
margin-left: 30px;
}
.description1{
    color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-left: 30px;
}

.story-card2-container{
/* border: 4px solid tomato; */
position: relative;
width: px;
height: px;
border-radius: 16px;
background: rgb(255, 255, 255);
}
.img2{
position: relative;
width: 291px;
height: 177px;
border-radius: 16px 16px 0px 0px;
background: url(),rgb(255, 255, 255);
}
.btn-2{
border: none;
position: absolute;
width: 174.51px;
height: 38.35px;
left: 38.35px;
top: 157.81px;
border-radius: 47.93px;
background: rgb(149, 178, 38);

}
.heading1{
position: absolute;
width: 198.04px;
height: 47.93px;
color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-left: 37px;
}
.story-card3-container{
    border: 3px solid aqua;
position: relative;
width: 290.69px;
height: 301.61px;
border-radius: 16px;
background: rgb(255, 255, 255);
}
.img-3{
position: relative;
width: 291px;
height: 177px;
border-radius: 16px 16px 0px 0px;
background: url(),rgb(255, 255, 255);
}
.btn-3{
    border: none;
    border-radius: 47.93px;
background: rgb(93, 88, 240);
position: absolute;
width: 174.51px;
height: 38.35px;
left: 38.35px;
top: 157.81px; 
}
@media  screen and (max-width: 576px){
    .header{
        width: 390px;
        height: ;
    }
.navbar{
    /* margin-left:0px ; */
    width: 100%;
}
    .nav-link, .btn-primary,.brand{
        display: none;
    }
    .group{
        position: absolute;
        width: 46px;
        height: 46px;
        left:16px;
        right: 296px;
        top: 12px;
        bottom: -12px;
    }
    .banner-container{
        /* Banner */
position: absolute;
width: 357px;
height: 725px;
left: 10px;
top: 220px;
/* Auto layout */
display: flex;
flex-direction: column-reverse;
justify-content: flex-start;
align-items: center;
gap: 20;
padding: 20px 0px 20px 0px;
    }
    .banner-content{
        width: 100%;
/* height: 575px; */
        margin-right:0px ;
        margin-left: 0px;
    }
    .header, .btn-secondary {
        justify-content: center;
        
    }
    .para{
        width:100% ;
        height: px;
        justify-content: center;
        align-items: center;
    }
    .card-4{
        background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 50%);
       /* margin-left: 1px; */
    }
    .story-card1-container{
        display: none;
    }
}